.About-container{
    display: grid;
    margin: 0 5rem;
    height: 77vh;
  
}

.a-sub{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    background-color: white;
    border-radius: 5rem;
}

.a-left{
    padding: 3rem 3.5rem;
}

.a-right, .a-left{
    display: flex;
    padding: 3rem 3.5rem;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.icons{
  width: 25rem;
  height: auto;
  margin-top: 2rem;
}

.a-text,.a-education{
    font-size: 2em;
    margin-bottom: 1rem;
}

.resume{
    margin-top: 2rem;
    font-size: 1rem;
    align-items: center;
    justify-items: center;
}

.a-detail h3{
margin-top: 1rem;

}
.a-detail{
    margin-left: 1rem;

}


.a-detail div{
    margin: 1rem;
    background: #dbebfa;
    border-radius: 3rem;
    padding: 0.1rem 1rem 1rem 1rem;
}

@media screen and (max-width:1000px){
    .About-container{
        display: grid;
        margin: 0 0.5rem;
        height: 150vh;
      
    }
    .a-sub{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 5rem;
        background-color: white;
        border-radius: 5rem;
    }

    .a-left{
        padding: 1rem 1rem;
        margin-top: 3rem;
    }

    .a-right{
     
        padding: 1rem 1rem;
      
    }

  
  
}